<p id="notice"><%= notice %></p>

<h1>Company</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td>
        <%= link_to edit_company_path(f.id), :class=>'btn btn-white btn-bitbucket' do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
