<div class="container">
  <div class="row">
    <h3>Error</h3>
    </div>
    <div class="col-sm-12">
      <div class="hr-line-dashed"></div>

      <%= link_to 'Home Page', dashboard_index_path, :class=>"btn btn-sm btn-primary m-t-n-xs" %>
      </div>


</div>
