<div class="footer">
  <div class="pull-right">
    BY
    <strong>
      <span style="color: green">Rajnish</span>
      <span style="color:red">
        Singh</span></strong>
  </div>
  <div>
    <strong>Copyright</strong>
    Rajnish Infotech &copy;
    <%= Time.now.year %>
  </div>
</div>
